header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}


header h1 {
  font-size: 24px;
  color: white;
}

body {
  font-family: Arial, sans-serif;

}

.resign_container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
  bottom: -30px;
}

h1 {
  text-align: center;
  color: #333;
}

form {
  margin-top: 20px;
}

input[type="password"],
input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

input[type="submit"] {
  width: 100%;
  background-color: black;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 3px;
}

input[type="submit"]:hover {
  background-color: black;
}